@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-Montserrat: "Montserrat";
  --font-Gilmer: "Gilmer";

  --color-MainBlue: #00c5f0;
  --color-EerieBlack: #222222;
  --color-LuckyGreen: #0c9e5a;
}

@font-face {  font-family: Gilmer; src: url("./assets/fonts/Gilmer.otf");}

html,
body {

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  .mask {
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    padding: 3px;
    box-sizing: border-box;
  }
}

