/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Brooklyn';
        src: url(/Fonts/Brooklyn.ttf);
    }

    @font-face {
        font-family: 'Gilmer';
        src: url(/Fonts/Gilmer.otf);
    }
}